{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">FAQs</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% for faq in faqs %}
                    <div class="row"><div class="col-12"><h3>{{ faq.question }}</h3></div></div>
                    <br>
                    <div class="row"><div class="col-12"><strong>Answer: </strong>{{ faq.answer }}</div></div>
                    <div class="row"><div class="col-12"><small><strong>Updated On: </strong>{{ faq.updated_on }}</small></div></div>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_faq' faq.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_faq' faq.id %}">Delete</a>
                        </small>
                    {% endif %}
                <hr>
                {% endfor %}
            </div>
        </div>
            {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col">
                        <hr>
                        <h2 class="logo-font mb-4">Add FAQ</h2>
                        <hr>
                        <form method="POST" action="{% url 'faqs' %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                                {{ form | crispy }}
                            <div class="text-right">
                                <button class="btn btn-black rounded-0" type="submit">Add FAQ</button>
                            </div>
                        </form>
                    </div>      
                </div>  
            {% endif %}       
        </div>
    </div>
{% endblock %}