<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Brand</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="guitars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="guitars-link">
                <a href="" class="dropdown-item">Electric Guitars</a>
                <a href="" class="dropdown-item">Acoustic Guitars</a>
                <a href="" class="dropdown-item">Bass Guitars</a>
                <a href="" class="dropdown-item">All Guitars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pedals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pedals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pedals-link">
                <a href="" class="dropdown-item">Overdrive Pedals</a>
                <a href="" class="dropdown-item">Fuzz Pedals</a>
                <a href="" class="dropdown-item">Distortion Pedals</a>
                <a href="" class="dropdown-item">Boost Pedals</a>
                <a href="" class="dropdown-item">Compressor Pedals</a>
                <a href="" class="dropdown-item">Volume Pedals</a>
                <a href="" class="dropdown-item">EQ Pedals</a>
                <a href="" class="dropdown-item">Noise Gate Pedals</a>
                <a href="" class="dropdown-item">Delay Pedals</a>
                <a href="" class="dropdown-item">Reverb Pedals</a>
                <a href="" class="dropdown-item">Chorus Pedals</a>
                <a href="" class="dropdown-item">Tremolo Pedals</a>
                <a href="" class="dropdown-item">Phaser Pedals</a>
                <a href="" class="dropdown-item">Flanger Pedals</a>
                <a href="" class="dropdown-item">Wah Pedals</a>
                <a href="" class="dropdown-item">Pitch Shifter Pedals</a>
                <a href="" class="dropdown-item">Octave Pedals</a>
                <a href="" class="dropdown-item">Synth Pedals</a>
                <a href="" class="dropdown-item">Tuner Pedals</a>
                <a href="" class="dropdown-item">Looper Pedals</a>
                <a href="" class="dropdown-item">All Modulation Pedals</a>
                <a href="" class="dropdown-item">All Overdrive & Dynamic Pedals</a>
                <a href="" class="dropdown-item">All Pitch & Filter Pedals</a>
                <a href="" class="dropdown-item">All Utility Pedals</a>
                <a href="" class="dropdown-item">All Pedals</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>