.product-image-container {
    height: 20vw;
    max-width: fit-content;
    place-self: center;
    align-content: center;
}

.product-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

